<footer>
    <!--DEN HER SENDER TIL NETLIFY-->
    <form name="contact" method="POST" data-netlify="true" class="validate">
        <div>
            <div>
                <label for="Name" class="form__label">Name:</label>
                <input placeholder="Name" type="text" name="Name" id="Name" class="form__input" required pattern=".{5,}" title="Skriv dit navn">
                <span class="error"></span>
            </div>
        <div>
            <label for="subject" class="form_label">Subject:</label>
            <input placeholder="Subject" id="subject" name="subject" type="text" class="form__input">
            <span class="error"></span>
        </div>
        <div>
            <label for="phone" class="form_label">Phone:</label>
            <input  placeholder="Phone" id="phone" name="phone" type="text" class="form__input">
                  <span class="error"></span>
        </div>
        <div>
            <label for="mail" class="form__label">Mail:</label>
            <input placeholder="Mail" type="mail" name="mail" id="mail" class="form__input" required pattern=".+\.[a-z]{2,}$">
            <span class="error"></span>
            </div>

        <div class="field">
            <textarea name="message" id="message" placeholder="Message" class="form__input" cols="30" rows="10"></textarea>
        </div>
        <div>
        </div class="field">
            <div data-netlify-recaptcha="true">
            </div>
            <div class="field">
                <input type="file" name="myfile"  class="form__input"
                id="myfile" placeholder="Upload"
                rows="7">
                </div>
        <div>
            <button class="btn">
                <input type="submit" class="form__input"> 
            </button>
        </div>
    </form>
</footer>
<script src="/assets/javascript/app.js"></script>
<script src="/assets/javascript/animation.js"></script>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>