<header>
    <nav>
        <div class="nav_wrapper">
        <ul class="ul">   
            <a href="index.html" class="logo">Mathias Ferniss</a> 
             
               
                    <li class="pil"><a href="#">Alder: 20</a></li>
                    <li class="pil dropdown"><a class="activate droparrow" href="#">Skills</a>
                        <ul class="subul">
                            <li>Programmering</li>
                            <li>Frontend</li>
                            <li>html</li>
                            <li>css</li>
                            <li>Javascript</li>
                        </ul>
                    </li>
                    <li class="pil"><a class="dropdown" href="about.html">About me</a>
                    <i class="fas fa-search search_icon"></i>
                    <div class="search_panel hidden">
                        <form action="#">
                            <input type="text" class="search_input" placeholder="Search" required="required">
                        </form>
                    </div>
                </ul>
                    </div>
            </nav>
</header>