<%- include('../partials/head'); %>
<%- include('../partials/header'); %>
<main class="about_me">
    <h1 class="h1 text">Navn: Mathias Ferniss Alder: 20<br>Programmør: Frontend Webudvikler</h1>

    <div class="MediaBox" data-media-id="910"> <video preload="auto" muted="true" autoplay="" loop="" playsinline="true" src="https://media.roccat.org/img/product-series/series/teaser/1/Vulcan-WebsiteBackgr-2030x1080-4.mp4"></video> </div>
    <section class="position">Hej med dig</section>
</main>
<%- include('../partials/footer'); %>
<%- include('../partials/after-footer'); %>