    <%- include('../partials/head'); %>
    <%- include('../partials/header'); %>
    <main>
        <h2>Mit Portfolio: hjemmesider/produkter</h2>
        <figure>
            <a href="https://hificorner-4957f.firebaseapp.com/"><h1>HIFI-Corner</h1></a>
            <img src="/assets/images/hifi.JPG" alt="">
            <figcaption>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Impedit et nesciunt illo cupiditate rem perspiciatis modi cumque reiciendis? Reiciendis, voluptatem laborum. Natus unde consequuntur, reprehenderit animi vero libero blanditiis ut eveniet necessitatibus. Mollitia obcaecati quia perspiciatis ratione. Ipsum inventore quidem iusto quam voluptatem ipsa. Dolorem incidunt vel veniam labore quo quibusdam, facilis rem odit iusto corporis voluptate placeat laboriosam in praesentium! Cumque, dignissimos necessitatibus numquam facilis esse molestias suscipit ut provident doloribus porro nemo quisquam.</p>
            </figcaption>
        </figure>
        <figure>
            <a href="https://iplaymusic-ffa68.firebaseapp.com/"><h1><span>IPlayMusic</span></h1></a>
            <img src="/assets/images/music.JPG" alt="">
            <figcaption>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Impedit et nesciunt illo cupiditate rem perspiciatis modi cumque reiciendis? Reiciendis, voluptatem laborum. Natus unde consequuntur, reprehenderit animi vero libero blanditiis ut eveniet necessitatibus. Mollitia obcaecati quia perspiciatis ratione. Ipsum inventore quidem iusto quam voluptatem ipsa. Dolorem incidunt vel veniam labore quo quibusdam, facilis rem odit iusto corporis voluptate placeat laboriosam in praesentium! Cumque, dignissimos necessitatibus numquam facilis esse molestias suscipit ut provident doloribus porro nemo quisquam.</p>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Impedit et nesciunt illo cupiditate rem perspiciatis modi cumque reiciendis? Reiciendis, voluptatem laborum. Natus unde consequuntur, reprehenderit animi vero libero blanditiis ut eveniet necessitatibus. Mollitia obcaecati quia perspiciatis ratione. Ipsum inventore quidem iusto quam voluptatem ipsa. Dolorem incidunt vel veniam labore quo quibusdam, facilis rem odit iusto corporis voluptate placeat laboriosam in praesentium! Cumque, dignissimos necessitatibus numquam facilis esse molestias suscipit ut provident doloribus porro nemo quisquam.</p>
            </figcaption>
        </figure>
        <figure>
            <a href="https://newsbox-3e73e.firebaseapp.com/"><h1>NewsBox</h1></a>
            <img src="/assets/images/newsbox.JPG" alt="">
            <figcaption>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Impedit et nesciunt illo cupiditate rem perspiciatis modi cumque reiciendis? Reiciendis, voluptatem laborum. Natus unde consequuntur, reprehenderit animi vero libero blanditiis ut eveniet necessitatibus. Mollitia obcaecati quia perspiciatis ratione. Ipsum inventore quidem iusto quam voluptatem ipsa. Dolorem incidunt vel veniam labore quo quibusdam, facilis rem odit iusto corporis voluptate placeat laboriosam in praesentium! Cumque, dignissimos necessitatibus numquam facilis esse molestias suscipit ut provident doloribus porro nemo quisquam.</p>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Impedit et nesciunt illo cupiditate rem perspiciatis modi cumque reiciendis? Reiciendis, voluptatem laborum. Natus unde consequuntur, reprehenderit animi vero libero blanditiis ut eveniet necessitatibus. Mollitia obcaecati quia perspiciatis ratione. Ipsum inventore quidem iusto quam voluptatem ipsa. Dolorem incidunt vel veniam labore quo quibusdam, facilis rem odit iusto corporis voluptate placeat laboriosam in praesentium! Cumque, dignissimos necessitatibus numquam facilis esse molestias suscipit ut provident doloribus porro nemo quisquam.</p>

            </figcaption>
        </figure>
        <figure>
            <a href="https://spil-d01c4.firebaseapp.com/"><h1>Spil</h1></a>
            <img src="/assets/images/spil.JPG" alt="">
            <figcaption>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Impedit et nesciunt illo cupiditate rem perspiciatis modi cumque reiciendis? Reiciendis, voluptatem laborum. Natus unde consequuntur, reprehenderit animi vero libero blanditiis ut eveniet necessitatibus. Mollitia obcaecati quia perspiciatis ratione. Ipsum inventore quidem iusto quam voluptatem ipsa. Dolorem incidunt vel veniam labore quo quibusdam, facilis rem odit iusto corporis voluptate placeat laboriosam in praesentium! Cumque, dignissimos necessitatibus numquam facilis esse molestias suscipit ut provident doloribus porro nemo quisquam.</p>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Impedit et nesciunt illo cupiditate rem perspiciatis modi cumque reiciendis? Reiciendis, voluptatem laborum. Natus unde consequuntur, reprehenderit animi vero libero blanditiis ut eveniet necessitatibus. Mollitia obcaecati quia perspiciatis ratione. Ipsum inventore quidem iusto quam voluptatem ipsa. Dolorem incidunt vel veniam labore quo quibusdam, facilis rem odit iusto corporis voluptate placeat laboriosam in praesentium! Cumque, dignissimos necessitatibus numquam facilis esse molestias suscipit ut provident doloribus porro nemo quisquam.</p>

            </figcaption>
    </main>
    <%- include('../partials/footer'); %>
    <%- include('../partials/after-footer'); %>
