<%- include('../partials/head'); %>
<%- include('../partials/header'); %>
<main>
    <h1 class="h1 text">Quiz spil</h1>
    
</main>
<%- include('../partials/footer'); %>
<%- include('../partials/after-footer'); %>

